html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #2a2a2a;
    padding: 20px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body span {
    color: white;
}
