html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #2a2a2a;
    padding: 100px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide{
    display: none !important;
}

#dragndrop{
    width: 100%;
    height: 50%;
    border: 15px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#dragndrop .title {
    color: white;
    font-size: 50px;
}

#fileinput{
    display: none;
}

#controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

#clearVideo, #muteButton {
    border: 2px solid white;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 10px;
}

#clearVideo {
    right: 10px;
}

#muteButton {
    right: 50px;
}

#clearVideo span{
    color: white;
}

#controls #videoPlayer {
    width: 100%;
}

#video-stats{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#video-stats .stat{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-stats .stat .title{
    font-weight: bold;
    color: white;
}

#video-stats .stat .value{
    color: white;
    margin-left: 10px;
}

#controls .control-group{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


#controls .control-group label{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

#controls .control-group .range-legend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#controls .control-group .range-legend span{
    color: white;
}

#controls .control-group input[type=text]{
    background-color: #2a2a2a;
    border: 1px solid lightgray;
    color: white;
    padding: 20px 5px;
}

#controls .control-group select{
    background-color: #2a2a2a;
    border: 1px solid lightgray;
    color: white;
    padding: 20px 5px;
}

#controls .control-group #outputDestination {
    cursor: pointer;
}

#submit{
    margin-top: 40px;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    flex-wrap: nowrap;
    align-self: center;
}

#submit span{
    color: white;
}

#loader{
    margin-top: 40px;
    flex-wrap: nowrap;
    align-self: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


